

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.header {
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.ul-menu {
    list-style: none;
}
.li-header {
    display: inline;
    margin-right: 30px;
    font-size: 24px;
    color: #003399;
}
.containerContent {
    width: 700px;
    margin: auto;
}
.number {
    color: #F27C0F;
    font-size: 200px;
    text-align: center;
    margin: 50px 0;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-size: 24px;
    border: none;
    color: white;
}
.btn-blue {
    background-color: #003399;
}
.btn-orange {
    background-color: #F27C0F;
}
.btn-gray {
    color: black;
}
.footer-container {
    width: 800px;
    margin: auto;
    display: flex;justify-content: space-between;
    margin-top: 150px;
    align-items: center;
}
.logoF {
    color: rgba(0, 0, 0, 0.6);
    line-height: 50.4px;
    font-size: 20px;
}
.li-footer {
    display: inline;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 35px;
}
.copyright {
    line-height: 50.4px;
    color: rgba(0, 0, 0, 0.5);
}